<div class="title">Comments</div>

<% @post.comments.each do |comment| %>

    <div class="comment">
      <div class="vote">
        <% if current_user and current_user.voted_for?(comment) %>
          <%= link_to "", "/comments/vote/" + comment.id.to_s, :class => "vote-up voted-up" %>
        <% else %>
          <%= link_to "", "/comments/vote/" + comment.id.to_s, :class => "vote-up" %>
        <% end %>

        <span class="vote-count"><%= comment.plusminus %></span>
        <%= link_to "", "/comments/voted/" + comment.id.to_s, :class => "vote-down" %>
      </div>

      <%= comment.body %>
      <br /><br />

      <% if current_user and current_user.id == comment.user_id %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Delete', comment, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
<% end %>

<br />