<%= stylesheet_link_tag "ideas" %>

<div class="modal rounded_border ideas">
  <div class="title">Ideas</div>

  <div class="modal rounded_border rules">
    <div class="title">How it works</div>
    <ol>
      <li>Sponsor by clicking the star</li>
      <li>Max sponsorships: 3</li>
      <li>Max people per project: 5</li>
      <li>Votes per person: 20</li>
    </ol>
  </div>

  <%= link_to 'New Idea!', new_post_path %>
  <br/><br/>

  <% @posts.each do |post| %>

      <div class="comment">
        <div class="vote">
          <% if current_user and current_user.voted_for?(post) %>
            <%= link_to "", "posts/vote/" + post.id.to_s, :class => "vote-up voted-up" %>
          <% else %>
            <%= link_to "", "posts/vote/" + post.id.to_s, :class => "vote-up" %>
          <% end %>
          <span class="vote-count"><%= post.plusminus %></span>
          <%= link_to "", "posts/voted/" + post.id.to_s, :class => "vote-down" %>
          <% if @sponsored_ids.include? post.id %>
            <%= link_to '', "posts/unsponsor/" + post.id.to_s, :class => "star star-on" %>
          <% else %>
            <%= link_to '', "posts/sponsor/" + post.id.to_s, :class => "star" %>
          <% end %>
        </div>

        <%= link_to post.title, post %>
        <p style="font-size:.9em; color:darkgrey;">
          <em>Sponsors:</em>
          <% for sponsor in post.users do %>
            <%=  sponsor.email.to_s + " "  %>
          <% end %>
        </p>
        <p style="font-size:.9em; color:darkgrey;">
          <em>Last modified:</em>
          <%=  post.updated_at.to_s  %>
        </p>
        <% if current_user and @sponsored_ids.include? post.id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post, :confirm => 'Are you sure?', :method => :delete %>
        <% end  %>
      </div>
  <% end %>

</div>