<div class="modal rounded_border">

  <div class="vote vote_post">
    <% if current_user and current_user.voted_for?(@post) %>
      <%= link_to "", "posts/vote/" + @post.id.to_s, :class => "vote-up voted-up" %>
    <% else %>
      <%= link_to "", "posts/vote/" + @post.id.to_s, :class => "vote-up" %>
    <% end %>

    <span class="vote-count"><%= @post.plusminus %></span>
    <%= link_to "", "posts/voted/" + @post.id.to_s, :class => "vote-down" %>

    <% if @is_sponsored %>
      <%= link_to '', "/posts/unsponsor/" + @post.id.to_s, :class => "star star-on" %>
    <% else %>
      <%= link_to '', "/posts/sponsor/" + @post.id.to_s, :class => "star" %>
    <% end %>
  </div>

  <div class="title">Idea</div>
  <h2><%= @post.title %></h2>

  <p>
    <em>Description:</em>
    <%= @post.body %>
  </p>

  <p>
    <em>Sponsors:</em>
    <% for sponsor in @post.users do %>
      <%=  sponsor.email.to_s + " "  %>
    <% end %>
  </p>

  <% if @is_sponsored %>
    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  <% end %>
</div>

<div class="modal rounded_border">
  <%= render :partial => "show_comments" %>
  <%= render :partial => "new_comment" %>
</div>